@typeparam TEntity

@if (!string.IsNullOrEmpty(Title))
{
    <h3>@Title</h3>
    <hr />
}

<EditForm Model="Entity" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <Alert Result="@result"></Alert>
    @ChildContent
</EditForm>
<Spinner Loading="loading"></Spinner>