@page "/person"


<EditForm Model="@person">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@

    <NumberField @bind-Value="person.Id" readonly />
    <TextField @bind-Value="person.Name" />
    <TextField @bind-Value="person.Email" />
    <DateField @bind-Value="person.BirthDate" />

    <button type="submit">Save</button>
</EditForm>


@code {
    Person person = new Person() { Id = 1 };
}

