@using Microsoft.AspNetCore.Components.Forms
@using Boozor.Shared
@inject AppState _appState

@typeparam TEntity where TEntity : IEntity

<div class="col-md-@Columns col-sm-12">
    <EditForm Model=Model OnValidSubmit=@SubmitAsync>
        <EntityServer @ref=entityServer />
        <ModalContent Title=@Title StyleContent="border:none">

            <Body>
                <DataAnnotationsValidator />
                <div class="row g-3">
                    @*TODO: <ValidationSummary /> *@
                    @ChildContent
                </div>
            </Body>
            <Footer>
                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <button type="button" class="btn btn-danger btn-sm" @onclick="Delete">Excluir</button>
                }
                <button type="submit" class="btn btn-success btn-sm">Salvar</button>
            </Footer>
        </ModalContent>
    </EditForm>
</div>

@code {

    EntityServer entityServer;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Columns { get; set; } = 12;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public TEntity Model { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Title is null)
            Title = GetTitle();

    }

    private async void SubmitAsync()
    {
        bool result = await _appState.Loading(async () => await entityServer.SubmitAsync(Model));
    }

    private void Delete()
    {
        _appState.Confirmation("Confirma a exclusão?",
        "Excluir registro",
        onOk: async () => await Task.CompletedTask);
    }

    private string GetTitle()
    {
        var entityType = typeof(TEntity);
        var titleAttribute = (TitleAttribute)Attribute.GetCustomAttribute(entityType, typeof(TitleAttribute));

        if (titleAttribute is not null)
            return titleAttribute.Title;

        return entityType.Name;
    }

}
