@typeparam TModel

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>

                @if(Toolbar is not null)
                {
                    <td></td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr @onclick="() => SelectItem(item)" style="cursor:pointer" class="@GetClass(item)">
                    <CascadingValue Value=@item IsFixed=true>
                        @ChildContent

                        <td>
                            @Toolbar
                        </td>
                    </CascadingValue>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public EventCallback<TModel> OnSelectItem { get; set; }

    [Parameter]
    public EventCallback<TModel> OnUnselectItem { get; set; }

    [Parameter]
    public List<TModel> Items { get; set; }

    [Parameter]
    public EventCallback<List<TModel>> ItemsChanged { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment Toolbar { get; set; }

    [Parameter]
    public List<TModel> SelectedItens { get; set; } = new();

    [Parameter]
    public bool Multiselect { get; set; } = true;

    [Parameter]
    public EventCallback<List<TModel>> SelectedItensChanged { get; set; }

    public async Task<OrderType> Order(Func<TModel, object> valueFunc, OrderType orderType)
    {
        if (orderType == OrderType.None || orderType == OrderType.Descending)
        {
            Items = Items.OrderBy(valueFunc).ToList();
            orderType = OrderType.Ascending;
        }
        else
        {
            Items = Items.OrderByDescending(valueFunc).ToList();
            orderType = OrderType.Descending;
        }

        await ItemsChanged.InvokeAsync(Items);
        StateHasChanged();

        return orderType;
    }

    private async Task SelectItem(TModel item)
    {
        if (Multiselect)
        {
            if (SelectedItens.Contains(item))
            {
                SelectedItens.Remove(item);
                await OnUnselectItem.InvokeAsync(item);
            }
            else
            {
                SelectedItens.Add(item);
                await OnSelectItem.InvokeAsync(item);
            }
        }
        else
        {
            foreach (var selectedItem in SelectedItens)
                await OnUnselectItem.InvokeAsync(item);

            SelectedItens = new List<TModel>();

            SelectedItens.Add(item);
            await OnSelectItem.InvokeAsync(item);
        }

        await SelectedItensChanged.InvokeAsync(SelectedItens);
    }

    private string GetClass(TModel item)
    {
        if (SelectedItens.Contains(item))
        {
            return "table-primary";
        }

        return default;
    }
}
