@using Microsoft.AspNetCore.Components.Forms
@inherits Field<TModel, bool>
@typeparam TModel

<div class="col-md-@Columns col-sm-12">
    <div class="form-check">
        <InputCheckbox Value="@Value" ValueChanged="Set" ValueExpression="GetValueExpression()"
            class="form-check-input" />
        <label class="form-label">@Label</label>
    </div>
</div>

@code {


}


