@using Microsoft.AspNetCore.Components.Forms
@inherits Field<bool>

@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment ChildContent => __builder =>
    {
        <div class="form-check">
            <InputCheckbox Value="@Value" ValueChanged="Set" ValueExpression="GetValueExpression()" class="form-check-input"
                readonly=@ReadOnly />
            <label class="form-label">@Label</label>
        </div>
    };

}


