@using Microsoft.AspNetCore.Components.Forms
@inherits Field<TModel, TValue>

@typeparam TModel
@typeparam TValue

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override RenderFragment ChildContent => __builder =>
    {
        <label class="form-label"> @Label </label>
        <InputDate TValue="TValue" Value="@Value" ValueChanged="Set" ValueExpression="GetValueExpression()"
            class="form-control" />
    };

}


