@using Microsoft.AspNetCore.Components.Forms
@inherits Field<TModel, TValue>

@typeparam TModel
@typeparam TValue

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override void OnInitialized()
    {
        ChildContent = __builder =>
        {
            <div class="col-md-@Columns col-sm-12">
                <label class="form-label">
                    @Label
                </label>
                <InputDate TValue="TValue" Value="@Value" ValueChanged="Set" ValueExpression="GetValueExpression()"
                    class="form-control" />
            </div>
        };

        base.OnInitialized();
    }

}


