@using Microsoft.AspNetCore.Components.Forms
@inherits Field<TModel, DateTime?>

@typeparam TModel

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override RenderFragment ChildContent => __builder =>
    {
        <label class="form-label"> @Label </label>
        <InputDate TValue="DateTime?" Value="@Value" ValueChanged="Set" ValueExpression="GetValueExpression()"
            class="form-control" readonly=@ReadOnly />
    };

}
