@using System.Linq.Expressions
@using System.Reflection;
@using Microsoft.AspNetCore.Components.Forms
@typeparam TModel
@typeparam TValue

<div class="col-md-@Columns col-sm-12">
   @ChildContent
   <ValidationMessage For="GetValueExpression()" /> 
</div>

@code {

    [Parameter] public string Label { get; set; }
    [Parameter] public string Placeholder { get; set; }
    [Parameter] public Expression<Func<TModel, object>> For { get; set; }
    [Parameter] public int Columns { get; set; }
    [CascadingParameter] public EditContext EditContext { get; set; }
    protected virtual RenderFragment ChildContent { get; }

    @* [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } *@

    public TValue Value { get; set; }

    public string PropertyName => propertyInfo.Name;

    private PropertyInfo propertyInfo;

    protected override void OnInitialized()
    {
        propertyInfo = GetPropertyInfo(For);
        EditContext.OnFieldChanged += OnFieldChange;
        EnsureLabel();
        FillValue();
        base.OnInitialized();
    }


    protected Expression<Func<TValue>> GetValueExpression()
    {
        var constant = Expression.Constant(EditContext.Model);
        var exp = Expression.Property(constant, propertyInfo.Name);
        return Expression.Lambda<Func<TValue>>(exp);
    }

    protected virtual void Set(TValue value)
    {
        propertyInfo.SetValue(EditContext.Model, value);
    }

    protected virtual void FillValue()
    {
        Value = GetValue();
    }

    protected virtual TValue GetValue()
    {
        return (TValue)propertyInfo.GetValue(EditContext.Model);
    }

    private void OnFieldChange(object obj, FieldChangedEventArgs e)
    {
        if (e.FieldIdentifier.FieldName == propertyInfo.Name)
            FillValue();
    }

    //TODO:refactor
    private void EnsureLabel()
    {
        if (!string.IsNullOrEmpty(Label))
            return;

        var displayAttribute = propertyInfo.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute),
        true)
        .FirstOrDefault() as System.ComponentModel.DataAnnotations.DisplayAttribute;

        if (displayAttribute == null || string.IsNullOrEmpty(displayAttribute.Name))
            Label = propertyInfo.Name;
        else
            Label = displayAttribute.Name;
    }

    //TODO:refactor
    private PropertyInfo GetPropertyInfo<TType, TReturn>(Expression<Func<TType, TReturn>> property)
    {
        LambdaExpression lambda = property;
        var memberExpression = lambda.Body is UnaryExpression expression
        ? (MemberExpression)expression.Operand
        : (MemberExpression)lambda.Body;

        return (PropertyInfo)memberExpression.Member;
    }
}

