@using System.Linq.Expressions
@using System.Reflection;
@using Microsoft.AspNetCore.Components.Forms
@typeparam TModel

<div class="col-md-{@Columns} col-sm-12">
    <label class="form-label">
        @Text
    </label>
    @ChildContent
</div>


@code {
    [Parameter] public int Columns { get; set; } = 12;
    [Parameter] public string Text { get; set; }
    [Parameter, EditorRequired] public Expression<Func<TModel, object>> For { get; set; }
    [Parameter] public RenderFragment ChildContent {get;set;}
    PropertyInfo propertyInfo;

    protected override void OnParametersSet()
    {
        Text = EnsureLabel(Text);
        propertyInfo =  propertyInfo ?? GetPropertyInfo(For);

        base.OnParametersSet();
    }

//TODO:
    private PropertyInfo GetPropertyInfo<TType, TReturn>(Expression<Func<TType, TReturn>> property)
    {
        LambdaExpression lambda = property;
        var memberExpression = lambda.Body is UnaryExpression expression
        ? (MemberExpression)expression.Operand
        : (MemberExpression)lambda.Body;

        return (PropertyInfo)memberExpression.Member;
    }

    private string EnsureLabel(string text)
    {
        if (!string.IsNullOrEmpty(text))
            return text;

        var displayAttribute = propertyInfo.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute),
        true)
        .FirstOrDefault() as System.ComponentModel.DataAnnotations.DisplayAttribute;

        if (displayAttribute == null || string.IsNullOrEmpty(displayAttribute.Name))
            return propertyInfo.Name;
        else
            return displayAttribute.Name;
    }

}
