@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inject IJSRuntime JS

<div class="row">
    <div class="col-md-12">
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" @onclick="OnPreview"
                checked>
            <label class="btn btn-primary" for="btnradio1">Preview</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" @onclick="OnEdit">
            <label class="btn btn-primary" for="btnradio2">Edit</label>
        </div>

        <div class="mt-3">
            @{
                if (IsPreview())
                {
                    <hr />
                    @ToHtml()
                }
                else
                {
                    <InputTextArea id="editor" class="form-control" style="height:500px;" @bind-Value=markdown></InputTextArea>
                }
            }
        </div>
    </div>
</div>

@code
{
    enum Mode { Preview, Edit }
    Mode currentMode = Mode.Preview;
    string markdown = "";

    public MarkupString ToHtml()
    {
        return new MarkupString(Markdig.Markdown.ToHtml(markdown));
    }

    public void OnTextChange(ChangeEventArgs e)
    {
        Console.WriteLine(e.Value);
    }

    public void OnPreview()
    {
        currentMode = Mode.Preview;
    }

    public void OnEdit()
    {
        currentMode = Mode.Edit;
    }

    bool IsPreview()
    {
        return currentMode == Mode.Preview;
    }
}