@using Microsoft.AspNetCore.Components.Forms
@using System;
@inherits Field<TModel, TValue>

@typeparam TModel
@typeparam TValue

<div class="col-md-@Columns col-sm-12">
    <label class="form-label">
        @Label
    </label>
    <InputNumber Value="@Value" TValue="TValue" ValueChanged="Set" ValueExpression="GetValueExpression()"
        class="form-control" />
</div>

@code {

}


