@using Microsoft.AspNetCore.Components.Forms
@using System;
@inherits Field<TValue>

@typeparam TValue


@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment ChildContent => __builder =>
    {

        <label class="form-label"> @Label </label>
        <InputNumber Value="@Value" TValue="TValue" ValueChanged="Set" ValueExpression="For"
            AdditionalAttributes="AdditionalAttributes" />
    };

    protected override IEnumerable<KeyValuePair<string, object>> CustomAttributes()
    {
        yield return new("class", "form-control");
    }
}
