@using Microsoft.AspNetCore.Components.Forms
@using System;
@inherits Field<TModel, TValue>

@typeparam TModel
@typeparam TValue


@{
    base.BuildRenderTree(__builder);
}

@code {
    
    protected override RenderFragment ChildContent => __builder =>
    {

        <label class="form-label"> @Label </label>
        <InputNumber Value="@Value" TValue="TValue" ValueChanged="Set" ValueExpression="GetValueExpression()"
            class="form-control" />
    };

}


