@using Microsoft.AspNetCore.Components.Forms
@using System;
@inherits Field<string>

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override RenderFragment ChildContent => __builder =>
    {
        <label class="form-label" for="@PropertyName"> @Label</label>
        <InputText Value="@Value" ValueChanged="Set" ValueExpression="For" AdditionalAttributes="AdditionalAttributes" />
    };

    protected override IEnumerable<KeyValuePair<string, object>> CustomAttributes()
    {
        yield return new("class", "form-control");
    }
}
