@inject AppState _appState

<Modal @ref=_modal Title=@_messageState.Title>
    <Header>
    </Header>
    <Body>
        <span>@_messageState.Text</span>
    </Body>
    <Footer>
        @foreach (var button in @_messageState.Buttons)
        {
            async Task OnClick()
            {
                await _modal.Toggle();

                if(button.Action != null)
                    button.Action();
            }

            <button class="btn btn-@button.Color small" @onclick=OnClick>@button.Text</button>
        }
    </Footer>
</Modal>

@code {
    private Modal _modal = new();
    private MessageState _messageState = new();

    protected override void OnInitialized()
    {
        _appState.MessageChange += OnMessageChange;

        base.OnInitialized();
    }

    public async void OnMessageChange(MessageState messageState)
    {
        _messageState = messageState;
        StateHasChanged();

        await _modal.Toggle();
    }
}
